node_modules
src/static/sprites
public/media
public/voice
public/media-background-images
public/sfx
public/images/icon.png
public/emote-wheel
scripts/*
!scripts/jpsxdec
!scripts/dev
scripts/dev/*
!scripts/dev/*.js
!scripts/*.mjs
!scripts/*.cjs
!scripts/*.ksy
!scripts/*.json
src/static/json/sprite_atlas.json
src/textures.ts
/dist